*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

p {
    color: white;
    font-size: 24pt;
}

h2 {
  margin-top: 10px ;
  color: white;
  font-size: 30pt;
  text-align: center;
}

.wrapper{
  margin: 0 auto;
  width: 1000px
}

.respec-logo{
  width: 100px

}
.text{
  color: red;

}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid div:nth-child(even){
  color: white;
  background-color: red;
}
.grid div:nth-child(odd){
  color: red;
  background-color: white;
}

#center_table {
  align-self: center;
  display: block;
  margin-top: -175px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 5%;
}


#table1 {
    margin-top: -800px;
    margin-left: 15%;
    text-align: left;
}

#table2 {
    margin-top: -670px;
    margin-right: 40%;
    text-align: right;
}